<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
weatherSolutions.plist
YourDay

Created by David Barkman on 6/18/22.
Copyright (c) 2022 Dbarkman LLC. All rights reserved.
-->
<plist version="1.0">
  <dict>
    <key>apiKey</key>
    <string>tqXgMGpwX2rEvLJiegXXhP8eMBjZ3rpFJdo8LQ3QFHw83xVNFrfDt6gZzkvdAxxDcr42KVd2HgbpfsZQN3v8ZZzduBCcedp326v9</string>
    <key>secretKey</key>
    <string>Rz3YjHTn2NFVZmAjYyCUfuo8uXX4nhmyz2J2jvNtr92b7X3gLrJWTFJinHacakDk6cr8UTa3udLhFU8n2rhZdxCNgrEoBWQ6tgMi</string>
    <key>urlBase</key>
    <string>https://weather.solutions</string>
    <key>apisEndpoint</key>
    <string>/api/apis</string>
    <key>endpointsEndpoint</key>
    <string>/api/endpoints</string>
  </dict>
</plist>
